/*  your css code here. If applicable */
#outer{
	margin:30px;
	box-sizing:border-box;
	height:300px;
	width:300px;
	background-color:#ffa500;
	border-radius:50%;
	box-shadow: 0 0 0 25px #ff0000;
}
#middle
{
	box-sizing:border-box;
	height:200px;
	width:200px;
	background-color:#008000;
	border-radius:50%;
	margin-left:50px;
	box-shadow:0 0 0 25px #ffff00;
}
#inner{
	
	box-sizing:border-box;
	
	height:100px;
	width:100px;
	background-color:#800080;
	border-radius:50%;
	box-shadow:0 0 0 25px #0000ff;
	margin-left:50px;
}